<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Reset Password Success</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      Your password has changed
    </h1>
  </div>
  <p class="govuk-body">
    We have sent an email containing your username to the email address you used to create this account.
    You can use your new password to <a class="govuk-link" th:href="@{/sign-in}">sign in</a> to HMPPS digital services
    <span th:if="${legacyIdentityProvider != null}">and</span>
    <span id="id-provider" th:if="${legacyIdentityProvider != null}" th:text="${legacyIdentityProvider}">NOMIS</span>
  </p>
</div>
</body>
</html>
