<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      layout:decorate="~{fragments/layout}" th:with="showBack=true">
<head>
  <title>Reset Password Disallowed</title>
</head>
<body>

  <div layout:fragment="content">
    <h1 class="govuk-heading-l">Your password has not been changed</h1>

    <p class="govuk-body">
      It has not been reset because your email account is not maintained in this system.
    </p>

    <h2 class="govuk-heading-m">What should I do now?</h2>

    <p class="govuk-body">
      Please contact your administration team for further details on how to reset your password for this email account.
    </p>
  </div>

</body>
</html>
