<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Missing permissions</title>
</head>
<body>
<div layout:fragment="content">
  <h1 class="govuk-heading-l">You do not have permission to view <span th:text="${service}" data-qa="service">this service</span></h1>

  <p class="govuk-body">
    Try signing out and signing in with a different account.
  </p>
  <p class="govuk-body">
    If you think you should have access to this service, visit
    <a th:href="${@environment.getProperty('application.support.url')}" data-qa="contact" class="govuk-link">
      feedback and support</a>.
  </p>

  <a class="govuk-button" th:href="@{/}" data-qa="select">Select a different service</a>
</div>
</body>
</html>
