<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Verify Email</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <div th:if="${error}" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
       data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body" id="error-detail">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a th:href="${error == 'noselection' ? '#candidate0' : '#email'}" th:text="#{${'verifyemail.' + error}}">Verify
            email message</a>
        </li>
      </ul>
    </div>
  </div>

  <div role="alert">
    <h1 class="govuk-heading-l">Verify your email address</h1>
    <p class="govuk-body">
      <th:block th:text="${suggestion != null} ? 'Verify' : 'Provide'">Choose</th:block>
      your email address so you can reset your password and receive emails about your account.
    </p>
  </div>

  <form class="form" th:action="@{/verify-email}" method="POST" id="verifyEmailForm">
    <fieldset class="govuk-fieldset">
      <div th:if="${suggestion}">
        <p class="govuk-body">
          We've found an existing email address that hasn't been verified yet. Please amend the email address if
          necessary and we'll send another verification email.
        </p>
      </div>

      <div th:class="'govuk-form-group' + (${error} ? ' govuk-form-group--error' : '')">
        <input type="hidden" id="changeType" value="other" name="changeType"/>
        <label class="govuk-label" for="email">
          <th:block th:text="${suggestion == null} ? 'Enter email' : 'Email'"/>
          address
        </label>
        <span th:if="${error}" id="email-error" class="govuk-error-message"
              th:text="#{${'verifyemail.' + error}}">
        Missing user
      </span>
        <input th:class="'govuk-input' + (${error} ? ' govuk-input--error' : '')" id="email" name="email" type="email"
               data-element-id="email" autofocus="autofocus" th:value="${suggestion != null ? suggestion : email}"
               aria-describedby="email-error" spellcheck="false" autocomplete="email">
      </div>

      <div class="govuk-form-group">
        <input type="hidden" id="email-type" name="emailType" value="PRIMARY">
        <input type="hidden" id="resend" value="true" name="resend"/>
        <input class="govuk-button" id="submit" type="submit" role="button" data-element-id="continue-button"
               th:value="${suggestion != null ? 'Resend email' : 'Save'}">
        <a class="govuk-button" role="button" id="cancel"
           th:href="@{/verify-email-skip}"
           th:text="${'Skip for now'}">Cancel</a>
      </div>
    </fieldset>
  </form>
</div>
</body>
</html>
